/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

body {
  padding-top: 50px;
}
.site {
  padding: 40px 15px;
  /*text-align: center;*/
}

.well {
  background-image: none;
}